// @file
// Styles for individual modular elements in macro layout.

// Navigation: switch to horizontal nav for wider screens.
// Breakpoint should match Drupal.behaviours.hpszen.navigationBreakpoint
@media all and (min-width: 1em / 16 * 699) {
  .navigation {
    .block {
      > ul {
        float: left;
        > li {
          float: left;
          margin-right: rhythm(1);
          > a {
            padding: rhythm(0.5) rhythm(1);
          }
        }
      }
    }
    h2 {
      @include element-invisible;
    }
  }
}
