// @file
// Styles for positioning modular elements on a page in a micro layout.

.header {
  float: right;
  padding-right: $zen-gutter-width / 2;
}

// Switch to horizontal navigation and reposition header.
// Breakpoint should match Drupal.settings.hpszen.navigationBreakpoint
@media all and (min-width: 1em / 16 * 841) {
  .header {
    @include zen-grid-item-base();
    @include zen-grid-item(5, 1);
    @include padding-leader(0.45);
  }
  .navigation {
    @include zen-grid-item-base();
    @include zen-grid-item(7, 6);
  }
}
.main__content {
  @include padding-leader(2);
}

.region-footer {
  height: rhythm($hipos-footer-rhythm - 2.5); // Reduce space needed for footer.
  .block {
    margin: 0;
  }
  .menu {
    @include adjust-leading-to(1);
  }
}
@media all and (min-width: 1em / 16 * 510) {
  .region-footer {
    height: rhythm($hipos-footer-rhythm - 3.5); // Reduce space needed for footer.
  }
}
@media all and (min-width: 1em / 16 * 682) {
  .region-footer {
    height: rhythm($hipos-footer-rhythm - 5); // Reduce space needed for footer.
    .block {
      &:nth-child(2n+1) {
        @include zen-grid-item(3, 1, right);
        text-align: right;
      }
      &:nth-child(2n) {
        @include zen-grid-item(9, 4, right);
        clear: none;
        padding-top: rhythm(0.6);
      }
    }
  }
}


