// @file
// Basic styles for modular elements.

// @todo move drupal only styles to a drupal overrides module file that can be
//       included for drupal themes.

@if hipos-import-once("basic/_modules.scss") {

  // Additional useful selectors can be found in Zen's online documentation.
  // @see https://drupal.org/node/1707736

  // Default responsive widths for image styles defined in hps_defaults feature.
  // @see modules/custom/hps_defaults
  span.hpszen-responsive {
    &.hps-original,
    &.hps-principal,
    &.hps-supplemental,
    &.hps-minor,
    &.hps-uniform {
      display: inline-block;
      max-width: 100%;
      img {
        max-width: 100%;
      }
    }
  }
  @include hipos-adjust-responsive-images(1);
  @media all and (min-width: 1em / 16 * 481) and (max-width: 1em / 16 * 1023) {
    @include hipos-adjust-responsive-images(1.2, 13);
  }
  @media all and (min-width: 1em / 16 * 1024) {
    @include hipos-adjust-responsive-images(1.4, 14);
  }

  /**
   * Wireframes.
   */
  .with-wireframes {
    .header,
    .main,
    .main__header,
    .main__content,
    .navigation,
    .footer,
    .bottom {
      outline: 1px solid #ccc;

      @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        .lt-ie8 & {
          /* IE6/7 do not support the outline property. */
          border: 1px solid #ccc;
        }
      }
    }
  }

  /**
   * Accessibility features.
   */

  /* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  .element-invisible,
  %element-invisible {
    @include element-invisible;
  }

  /* Turns off the element-invisible effect. */
  %element-invisible-off {
    @include element-invisible-off;
  }

  .element-focusable,
  %element-focusable {
    @extend %element-invisible;

    &:active,
    &:focus {
      @extend %element-invisible-off;
    }
  }

  // The skip-link link will be completely hidden until a user tabs to the link.
  #skip-link {
    margin: 0;
    a,
    a:visited {
      display: block;
      width: 100%;
      padding: 2px 0 3px 0;
      text-align: center;
      background-color: #666;
      color: #fff;
    }
  }

  // Branding header.

  .header__logo-image {
    vertical-align: bottom;
  }

  .header__site-name {
    @include adjust-font-size-to( $h1-font-size );
  }

  .header__site-link {
    &:link,
    &:visited {
      text-decoration: none;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .header__site-slogan {
    font-family: $hipos-font-headings;
  }
  @media all and (min-width: 1em / 16 * 768) {
    .header__logo {
      @include leader(1);
    }
    .header__site-name {
      @include adjust-leading-to(0.8);
    }
    .header__site-slogan {
      @include trailer(1);
    }
  }
  @media all and (min-width: 1em / 16 * 1024) {
    .header__logo,
    .header__name-and-slogan {
      margin-left: hipos-px-to-em(25, 14);
    }
    .header__site-name {
      @include adjust-leading-to(0.8);
    }
  }

  // Secondary navigation

  .header__secondary-menu {
    text-align: right;
    h2 {
      @extend %element-invisible;
    }
    .links {
      @include delimited-list('|');
      @include adjust-leading-to(3);
      a {
        padding: rhythm(1);
      }
    }
  }

  /**
   * Breadcrumb navigation.
   */
  .breadcrumb {
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    ol {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }

  /**
   * Messages.
   */
  .messages {
    margin: rhythm(1.5) 0;
    padding: rhythm(1) rhythm(1) rhythm(1) rhythm(5); /* LTR */
    background-image: inline-image("message-24-ok.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("message-24-ok.png");
    }
    background-position: 8px 8px; /* LTR */
    background-repeat: no-repeat;
    border: 1px solid #be7;
  }
  .messages--status {
    @extend .messages;
    @extend %ok;
  }
  .messages--warning {
    @extend .messages;
    @extend %warning;
    background-image: inline-image("message-24-warning.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("message-24-warning.png");
    }
    border-color: #ed5;
  }
  .messages--error {
    @extend .messages;
    @extend %error;
    background-image: inline-image("message-24-error.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("message-24-error.png");
    }
    border-color: #ed541d;

  }
  .messages__list {
    margin: 0;
  }
  .messages__item {
    list-style-image: none;
  }

  /* Core/module installation error messages. */
  .messages--error  p.error {
    color: #333;
  }

  /* System status report. */
  .ok,
  %ok {
    background-color: #f8fff0;
    color: #234600;
  }
  .warning,
  %warning {
    background-color: #fffce5;
    color: #840;
  }
  .error,
  %error {
    background-color: #fef5f1;
    color: #8c2e0b;
  }

  /**
   * Tabs.
   */

  /* Basic positioning styles shared by primary and secondary tabs. */
  %tabs {
    @include clearfix;
    @include background-image(linear-gradient(bottom, $tabs-border 1px, transparent 1px));
    /* IE 9 and earlier don't understand gradients. */
    list-style: none;
    border-bottom: 1px solid $tabs-border \0/ie;
    margin: rhythm(1) 0;
    padding: 0 2px;
    white-space: nowrap;
  }
  %tabs__tab {
    float: left; /* LTR */
    margin: 0 3px;
  }
  %tabs__tab-link {
    border: 1px solid #e9e9e9;
    border-right: 0;
    border-bottom: 0;
    display: block;
    @include adjust-leading-to(1);
    text-decoration: none;
  }

  /* Primary tabs. */
  .tabs-primary {
    @extend %tabs;
  }
  .tabs-primary__tab {
    @extend %tabs__tab;
    @include border-top-radius(4px);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    border: 1px solid $tabs-border;
    border-bottom-color: transparent;
    /* IE 9 and earlier don't understand gradients. */
    border-bottom: 0 \0/ie;
  }
  .tabs-primary__tab.is-active {
    @extend .tabs-primary__tab;
    border-bottom-color: $tabs-container-bg;
  }
  // @todo Move appearance out of basic into skin for easier overriding and remove
  //       !important from colors (currently needed to override main_header colors).
  // We use 3 placeholder styles to prevent @extend from going selector crazy.
  %tabs-primary__tab-link {
    @extend %tabs__tab-link;
    @include border-top-radius(4px);
    @include transition(background-color 0.3s);
    color: #333 !important;
    background-color: #dedede !important;
    letter-spacing: 1px;
    padding: 0 1em;
    text-align: center;
  }
  %tabs-primary__tab-link-is-hover {
    background-color: #e9e9e9;
    border-color: #f2f2f2;
  }
  %tabs-primary__tab-link-is-active {
    background-color: transparent;
    @include filter-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0));
    @include background-image(linear-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0)));
    border-color: #fff;
  }

  a.tabs-primary__tab-link {
    @extend %tabs-primary__tab-link;
    &:hover,
    &:focus {
      @extend %tabs-primary__tab-link-is-hover;
    }
    &:active {
      @extend %tabs-primary__tab-link-is-active;
    }
  }
  a.tabs-primary__tab-link.is-active {
    @extend %tabs-primary__tab-link;
    @extend %tabs-primary__tab-link-is-active;
  }

  /* Secondary tabs. */
  .tabs-secondary {
    @extend %tabs;
    font-size: .9em;
    /* Collapse bottom margin of ul.primary. */
    margin-top: -(rhythm(1));
  }
  .tabs-secondary__tab,
  .tabs-secondary__tab.is-active {
    @extend %tabs__tab;
    margin: rhythm(1)/2 3px;
  }

  // We use 3 placeholder styles to prevent @extend from going selector crazy.
  %tabs-secondary__tab-link {
    @extend %tabs__tab-link;
    @include border-radius(.75em);
    @include transition(background-color 0.3s);
    @include single-text-shadow(#fff, 1px, 1px, 0);
    background-color: #f2f2f2;
    color: #666;
    padding: 0 .5em;
  }
  %tabs-secondary__tab-link-is-focus {
    background-color: #dedede;
    border-color: #999;
    color: #333;
  }
  %tabs-secondary__tab-link-is-active {
    @include single-text-shadow(#333, 1px, 1px, 0);
    background-color: #666;
    border-color: #000;
    color: #fff;
  }

  a.tabs-secondary__tab-link {
    @extend %tabs-secondary__tab-link;

    &:hover,
    &:focus {
      @extend %tabs-secondary__tab-link-is-focus;
    }
    &:active {
      @extend %tabs-secondary__tab-link-is-active;
    }
  }
  a.tabs-secondary__tab-link.is-active {
    @extend %tabs-secondary__tab-link;
    @extend %tabs-secondary__tab-link-is-active;
  }

  /**
   * Inline styles.
   */

  /* List of links generated by theme_links(). */
  .inline {
    display: inline;
    padding: 0;

    li {
      display: inline;
      list-style-type: none;
      padding: 0 1em 0 0; /* LTR */
    }
  }

  /* The inline field label used by the Fences module. */
  span.field-label {
    padding: 0 1em 0 0; /* LTR */
  }

  /**
   * "More" links.
   */
  .more-link {
    text-align: right; /* LTR */
  }
  .more-help-link {
    text-align: right; /* LTR */
  }
  .more-help-link a {
    background-image: inline-image("help.png");
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
      *background-image: image-url("help.png");
    }
    background-position: 0 50%; /* LTR */
    background-repeat: no-repeat;
    padding: 1px 0 1px 20px; /* LTR */
  }

  // Pager.
  // A list of page numbers when more than 1 page of content is available.
  .pager {
    clear: both;
    @include padding-leader(3);
    text-align: center;
  }
  %pager__item {
    display: inline;
    padding: 0 0.5em;
    list-style-type: none;
    background-image: none;
  }

  .pager-item,      /* A list item containing a page number in the list of pages. */
  .pager-first,     /* The first page's list item. */
  .pager-previous,  /* The previous page's list item. */
  .pager-next,      /* The next page's list item. */
  .pager-last,      /* The last page's list item. */
  .pager-ellipsis { /* A concatenation of several list items using an ellipsis. */
    @extend %pager__item;
  }

  /* The current page's list item. */
  .pager-current {
    @extend %pager__item;
    font-weight: bold;
  }

  /**
   * Blocks.
   */

  /* Block wrapper. */
  .block {
    margin-bottom: rhythm(1);
  }

  /**
   * Marker.
   */

  /* The "new" or "updated" marker. */
  .new,
  .update {
    color: #c00;
    /* Remove background highlighting from <mark> in normalize. */
    background-color: transparent;
  }

  /**
   * Unpublished note.
   */

  /* The word "Unpublished" displayed underneath the content. */
  .unpublished {
    height: 0;
    overflow: visible;
    /* Remove background highlighting from <mark> in normalize. */
    background-color: transparent;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    /* A very nice CSS3 property. */
    word-wrap: break-word;
  }
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 .node-unpublished>*,
    .lt-ie8 .comment-unpublished>* {
      /* Otherwise these elements will appear below the "Unpublished" text. */
      position: relative;
    }
  }

  /**
   * Comments.
   */

  /* Wrapper for the list of comments and its title. */
  .comments {
    margin: rhythm(1) 0;
  }

  /* Preview of the comment before submitting new or updated comment. */
  .comment-preview {
    /* Drupal core will use a #ffffea background. See #1110842. */
    background-color: #ffffea;
  }

  /* Wrapper for a single comment. */
  .comment {

    /* Comment's permalink wrapper. */
    .permalink {
      text-transform: uppercase;
      font-size: 75%;
    }
  }

  /* Nested comments are indented. */
  .indented {
    /* Drupal core uses a 25px left margin. */
    margin-left: $indent-amount; /* LTR */
  }

  /**
   * Forms.
   */

  /* Wrapper for a form element (or group of form elements) and its label. */
  .form-item {
    margin: rhythm(1) 0;

    /* Pack groups of checkboxes and radio buttons closer together. */
    .form-checkboxes & ,
    .form-radios & {
      /* Drupal core uses "0.4em 0". */
      margin: 0;
    }

    /* Form items in a table. */
    tr.odd &,
    tr.even & {
      margin: 0;
    }

    /* Highlight the form elements that caused a form submission error. */
    input.error,
    textarea.error,
    select.error {
      border: 1px solid #c00;
    }

    /* The descriptive help text (separate from the label). */
    .description {
      @include hipos-adjust-font-size-and-rhythm(0.9, 0.3);
    }
  }

  .form-type-radio,
  .form-type-checkbox {
    .description {
      margin-left: 2.4em;
    }
  }

  /* The part of the label that indicates a required field. */
  .form-required {
    color: #c00;
  }

  .form-actions {
    .form-submit {
      margin-right: rhythm(0.5);
    }
  }

  /* Labels for radios and checkboxes. */
  label.option {
    display: inline;
    font-weight: normal;
  }

  /* Buttons used by contrib modules like Media. */
  a.button {
    @include appearance(button);
  }

  /* Password confirmation. */
  .password-parent,
  .confirm-parent {
    margin: 0;
  }

  /* Drupal's default login form block. */
  #user-login-form {
    text-align: left; /* LTR */
  }

  /**
   * OpenID
   *
   * The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */

  /* OpenID creates a new ul above the login form's links. */
  .openid-links {
    /* Position OpenID's ul next to the rest of the links. */
    margin-bottom: 0;
  }

  /* The "Log in using OpenID" and "Cancel OpenID login" links. */
  .openid-link,
  .user-link {
    margin-top: rhythm(1);
  }
  html.js #user-login-form li.openid-link,
  #user-login-form li.openid-link {
    /* Un-do some of the padding on the ul list. */
    margin-left: -20px; /* LTR */
  }
  #user-login ul {
    margin: rhythm(1) 0;
  }

  // @todo colors are more of a themeing thing and therefore should be moved.
  tr.even,
  tr.odd {
    border-bottom: 1px solid white;
    padding: 0.1em 0.6em;
  }
  tr.odd {
    background-color: white;
    border-color: darken(white, 5%);
  }
  tr.even {
    background-color: darken(white, 2%);
    border-color: darken(white, 5%);
  }
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 tr.even,
    .lt-ie8 tr.odd {
      th,
      td {
        /* IE doesn't display borders on table rows. */
        border-bottom: 1px solid #ccc;
      }
    }
  }

  // @todo too specific for basic styles, move to drupal only styles also its a
  //       themes thing so should probably go there not in modules.
  /* Markup generated by theme_tablesort_indicator(). */
  td.active {
    background-color: #ddd;
  }

  /* Center checkboxes inside table cell. */
  td.checkbox,
  th.checkbox {
    text-align: center;
  }

  // @todo too specific for basic styles, move to drupal only styles
  // Drupal core wrongly puts this in system.menus.css. Since we override that, add it back.
  td.menu-disabled {
    background: #ccc;
  }

  // @todo assumes using drupal core autocomplete.js could include js in hipos or
  //       move to drupal only styles
  // Autocomplete.
  // @see autocomplete.js
  // Suggestion list.
  #autocomplete .selected {
    background: #0072b9;
    color: #fff;
  }

  // @todo assumes using drupal core collapse.js could include js in hipos or
  //       move to drupal only styles and perhaps mixin for form tips/summary
  // Collapsible fieldsets.
  // @see collapse.js
  .fieldset-legend {
    html.js .collapsible & {
      background-image: inline-image("menu-expanded.png");
      @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        *background-image: image-url("menu-expanded.png");
      }
      background-position: 5px 65%; /* LTR */
      background-repeat: no-repeat;
      padding-left: 15px; /* LTR */
    }
    html.js .collapsed & {
      background-image: inline-image("menu-collapsed.png"); /* LTR */
      @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
        *background-image: image-url("menu-collapsed.png"); /* LTR */
      }
      background-position: 5px 50%; /* LTR */
    }
    .summary {
      color: #999;
      font-size: 0.9em;
      margin-left: 0.5em;
    }
  }

  // @todo assumes using drupal core tabledrag.js could include js in hipos or
  //       move to drupal only styles
  // TableDrag behavior.
  // @see tabledrag.js
  tr.drag {
    background-color: #fffff0;
  }
  tr.drag-previous {
    background-color: #ffd;
  }
  .tabledrag-toggle-weight {
    font-size: 0.9em;
  }

  // @todo assumes using drupal core tableselect.js could include js in hipos or
  //       move to drupal only styles
  // TableSelect behavior.
  // @see tableselect.js
  tr.selected td {
    background: #ffc;
  }


  // @todo assumes using drupal core progress.js could include js in hipos or
  //       move to drupal only styles
  // Progress bar.
  // @see progress.js
  .progress {
    font-weight: bold;

    .bar {
      background: #ccc;
      border-color: #666;
      margin: 0 0.2em;
      @include border-radius(3px);
    }
    .filled {
      background-color: #0072b9;
      background-image: image-url("progress.gif");
    }
  }

  // @todo too specific for basic styles, move to drupal only styles
  .node ul {
    @include adjust-leading-to(1);
  }

  // @todo too specific for basic styles, move to drupal only styles
  a.lexicon-term {
    text-decoration: none;
    border-bottom: 1px dotted black;
  }

  // @todo too specific for basic styles, move to drupal only styles
  .print_html,
  .print_mail,
  .print_pdf {
    display: block;
    float: left;
    padding-right: rhythm(1);
    @include leader(2);
    @include trailer(1);
    @include adjust-font-size-to(0.9 * $base-font-size);
    @include adjust-leading-to(2);
    margin-left: 0;
  }

  // @todo too specific for basic styles, move to drupal only styles
  .book-navigation {
    @include padding-leader(2);
    .menu {
      list-style-type: none;
      border-top-style: dotted;
    }
    .page-links {
      border-top-style: dotted;
      border-bottom-style: dotted;
    }
  }

  // @todo too specific for basic styles, move to drupal only styles
  #block-sharethis-sharethis-block {
    @include padding-leader(1);
    @include padding-trailer(1);
  }

  // Site search
  // @todo too specific for basic styles, move to drupal only styles
  #views-exposed-form-hps-search-panel-pane-search-box {
    .views-exposed-form {
      overflow: hidden;
      @include padding-leader;
      @include padding-trailer;
    }
    form {
      float: right;
    }
    input[type="text"] {
      width: rhythm(5);
    }
    input[type="submit"] {
      margin: 0;
    }
    label,
    .description {
      @extend %element-invisible;
    }
  }

  // Archives search
  // @todo too specific for basic styles, move to drupal only styles
  #views-exposed-form-hps-archives-search-panel-pane-archives-search-box {
    label {
      @include hide-text();
    }
  }

  // @todo too specific for basic styles, move to drupal only styles
  // @todo Is this still needed? Custom hps_search block.
  #block-views-exp-hps-search-page-search {
    @include rhythm(0, 1, 0.5, 0);
    overflow: hidden;
    form {
      float: right;
    }
    input.error {
      color: black;
      // Don't show error border color on search form.
      border-color: #ddd - #111;
    }
    // Hide labels
    label,
    .description {
      @extend %element-invisible;
    }
    input[type="submit"] {
      margin: 0;
    }
  }

  // @todo too specific for basic styles, move to drupal only styles
  .view-hps-browse {
    .views-exposed-form .form-submit {
      margin-top: rhythm(0.5);
    }
  }

  // @todo too specific for basic styles, move to drupal only styles
  .pane-title {
    margin-bottom: 0;
  }

  // @todo too specific for basic styles, move to drupal only styles
  .pane-display-mode-links-content-type {
    text-align: right;
    h2 {
      @extend %element-invisible;
    }
    ul.display-modes {
      @include adjust-leading-to(3);
      @include delimited-list('|');
      a {
        padding: rhythm(0.5);
      }
    }
  }
  // @todo too specific for basic styles, move to drupal only styles
  // HPS Browse By ... list, gallery, index
  // Default gallery single column.
  .view-display-id-panel_pane_gallery {
    .view-content {
      > div {
        border-top: 1px solid black;
        @include padding-leader(1);
        @include margin-leader(1);
        &:nth-of-type(1) {
          border: none;
        }
      }
    }
  }
  // @todo too specific for basic styles, move to drupal only styles
  @media all and (min-width: 600px) and (max-width: 719px) {
    .view-display-id-panel_pane_gallery {
      // 2 columns
      .view-content {
        > div {
          width: (100% - (5 * 1)) / 2;
          float: left;
          &:nth-child(2n+1) {
            margin-right: 5%;
            @include zen-clear();
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:nth-of-type(2) {
            border: none;
          }
        }
      }
    }
  }
  // @todo too specific for basic styles, move to drupal only styles
  @media all and (min-width: 720px) {
    .view-display-id-panel_pane_gallery {
      // 3 columns
      .view-content {
        > div {
          width: (100% - (5 * 2)) / 3;
          float: left;
          &:nth-child(3n+1) {
            margin-right: 5%;
            @include zen-clear();
          }
          &:nth-child(3n+2) {
            margin-right: 5%;
          }
          &:nth-child(3n) {
            margin-right: 0;
          }
          &:nth-of-type(2),
          &:nth-of-type(3) {
            border: none;
          }
        }
      }
      .hpszen-responsive {
        &.hps-uniform {
          width: 100%;
        }
      }
    }
  }

  // Overrides for modular elements within specific sections.

  // Navigation bar.
  .navigation {
    a {
      padding: rhythm(1) $zen-gutter-width / 2;
      display: block;
      text-decoration: none;
      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      @include hipos-bulletless-list();
    }
    li {
      &.expanded {
        position: relative;
        > a {
          &.subnavigation__toggle {
            margin-right: 0;
            text-align: center;
            width: rhythm(1);
            position: absolute;
            right: 0;
          }
        }
      }
    }
    h2 {
      margin: rhythm(0.5) 0;
      a {
        padding: 0;
        margin: 0 rhythm(1.2);
      }
    }
  }
  .navigation__block--dropdown {
    z-index: 98;
    .expanded > a {
      margin-right: rhythm(2);
    }
  }

  // Results lists
  // @todo too specific for basic styles, move to drupal only styles
  .panel__results {
    .pane-views-exposed {
      padding: rhythm(1);
    }
    .views-widget-filter-search_api_views_fulltext {
      label {
        @include hide-text();
      }
    }
    .views-submit-button {
      clear: both;
      float: right;
      input {
        margin-top: 0;
      }
    }
  }
  // @todo too specific for basic styles, move to drupal only styles
  .panel__results {
    .pane-views-row {
      > div {
        @include hipos-results-list-item;
      }
    }
  }
  // @todo too specific for basic styles, move to drupal only styles
  @media all and (min-width: 1em / 16 * 768) {
    .hpszen-i1-r2 {
      #results__one {
        input[type="text"] {
          width: 100%;
        }
        .views-submit-button {
            clear: both;
        }
      }
    }
    .pane-hps-browse-panel-pane-list {
      .views-row {
        span.hpszen-responsive {
          clear: both;
          float: left;
          padding-right: rhythm(1);
          width: 50%;
        }
      }
    }
  }

  .after {
    margin-bottom: -1 * rhythm(1);
  }

  .bottom {
    // Bottom contains list of sponsor icons
    ul {
      @include hipos-bulletless-list();
    }
    li {
      display: inline;
    }
  }

  .footer {
    .menu {
      @include hipos-bulletless-list();
      @include delimited-list('|');
      @include adjust-leading-to(3);
      a {
        padding: rhythm(1);
      }
    }
    .menu__item:first-child {
      a {
        padding-left: 0;
      }
    }
    .block {
      // Last block is copyright string and (optional) address
      &:last-child {
        text-transform: uppercase;
        @include hipos-adjust-font-size-and-rhythm(0.9, 0);
        p {
          margin: 0;
          + ul {
            @include delimited-list('|');
          }
        }
        address {
          display: inline;
          padding-right: rhythm(1);
        }
        li {
          &:last-child {
            padding-left: rhythm(1);
            letter-spacing: hipos-px-to-em(1, 10);
          }
        }
      }
    }
  }
}
