//
// Initialization partial
//
// To make it easier for sub themes to override init settings we separate
// generic variables into init-hipos file and then sub themes can customise this
// init partial.

// Import generic variables
@import "init-hipos";

// Variables for the font stacks.
$hipos-font-base:        $neue;          // The font family set on the html element.
$hipos-font-headings:    $lucida-grande; // The font family set on h elements
$hipos-font-menus:       $lucida-grande;
$hipos-font-buttons:     $lucida-grande;
$hipos-font-fancy:       $lucida-grande;
$hipos-font-monospace:   $courier;       // The font family set on pre, code etc


// Base color lists: background, text, link, button background, button text
$hipos-color-neutral1: white black $teal-dark $teal-dark white;
$hipos-color-neutral2: $off-white black $teal-dark $teal-dark white;
$hipos-color-neutral3: $off-white $grey black $grey-dark white;
$hipos-color-neutral4: $grey white white $grey-dark white;
$hipos-color-accent1:  $teal white white $grey-dark white;
$hipos-color-accent2:  $teal-dark white white white $teal-dark;
$hipos-color-accent3:  $grey-dark white $teal-bright $teal-dark white;
$hipos-color-accent4:  $teal-light black black $teal-dark white;

// Tab styling.
$tabs-container-bg: white;
$tabs-border: $grey-light;

// Import sprites.
$icons-small-layout: smart;
$icons-small: sprite-map("../images/icons-small/*.png");
//@import "../images/icons-small/*.png";

// Import hipos plugin
@import "hipos";

